@if(post){
    <div>
<form #postForm="ngForm">
    <label>post title:</label>
    <input type="text" [(ngModel)]="post.name" name="name" minlength="2" maxlength="100" required #postnameId="ngModel">
    @if(postnameId.errors){
        @if(postnameId.errors['minlength']){
            <span>your post title is too short</span>
        }
        @if(postnameId.errors['maxlength']){
            <span>your post title is too long</span>
        }
        @if(postnameId.errors['required']){
            <span>you have to enter the post title</span>
        }
    }
    <br><br>

    <label>post description:</label>  
    <textarea [(ngModel)]="post.description" name="description" maxlength="500" #postdescriptionId="ngModel"></textarea>
    @if(postdescriptionId.errors){  
        @if(postdescriptionId.errors['maxlength']){
            <span>your post description is too long</span>
        }
    }
    <br><br>

    @if(post.lyrics){
    <label>post lyrics:</label>  
    <textarea [(ngModel)]="post.lyrics" name="lyrics" maxlength="2000" #postlyricsId="ngModel"></textarea>
    @if(postlyricsId.errors){ 
        @if(postlyricsId.errors['maxlength']){
            <span>your post lyrics is too long</span>
        }
    }
  }
  <br><br>

  <label>photo file:</label>
  <img [src]="'data:image/jpeg;base64,' + post.photoPath" width="300" style="height:auto;" />
  <input type="file" (change)="onPhotoSelected($event)" accept="image/*" name="photo">
  <br><br>

  <label>audio file:</label>
  @if(audioUrl){
       <audio controls [src]="audioUrl"> 
       </audio>
       <input type="file" (change)="onAudioSelected($event)" accept="audio/*" name="audio">
  }
  <br><br>

  <label>category:</label>
  <select [(ngModel)]="post.category.id" name="categoryId" required #postcategoryId="ngModel">
       <option value="">-- Select Category --</option>
       @for(cat of categoriesList; track cat.id){
           <option [value]="cat.id">{{cat.name}}</option>
       }
  </select>
  @if(postcategoryId.errors){
      @if(postcategoryId.errors['required']){
          <span>you have to select a category</span>
      }
  }
  <label>users took part:</label>
  <input type="text" [(ngModel)]="post.usersTookPart" name ="usersTookPart" #postusersTookPartId="ngModel">
  <br><br>

</form>
<button (click)="updatePost()" [disabled]="postForm.invalid">Update Post</button>
</div>
}






