<p>play-list works!</p>
@if(this.message!=""){
    <h3>{{message}}</h3>
}
@if(posts){
@for(post of posts; track post.id){

    <h3>{{ post.name}}</h3>

    <img [src]="'data:image/jpeg;base64,' + post.photoPath" width="300" style="height:auto;" />
 
    <h2>{{post.user.name}}</h2>

  <button (click)="seeFullPost(post.id)">see full post</button>
  <button (click)="deletePost(post.id)">delete post</button>

  @if(postIdToDelete === post.id){
    <div class="confirm-delete">
        <p>are you sure you want to delete this post?</p>
        <button (click)="okDeletePost(post.id)">yes</button>
        <button (click)="cancelDelete()">no</button>
    </div>
}
}
}
