<div class="container">
    <form #SignUpForm="ngForm">
        <label>user name:</label>
        <input type="text" [(ngModel)]="newUser.name" name="name" minlength="2" maxlength="30" required #nameId="ngModel">
        @if(nameId.errors){
            @if(nameId.errors['minlength']){
                <span>your user name is too short</span>
            }
            @if(nameId.errors['maxlength']){
                <span>your user name is too long</span>
            }
            @if(nameId.errors['required']){
                <span>you have to enter the user name</span>
            }
        }

        <br><br>

        <label>email:</label>
        <input type="email" [(ngModel)]="newUser.email" name="email" required #emailId="ngModel">
        @if(emailId.errors){
            @if(emailId.errors['required']){
                <span>you have to enter the email</span>
            }
            @if(emailId.errors['email']){
                <span>you have to enter a valid email</span>
            }
        }

        <br><br>

        <label>password:</label>
        <input type="password" [(ngModel)]="newUser.password" name="password" minlength="6" maxlength="20" required #passwordId="ngModel">
        @if(passwordId.errors){
            @if(passwordId.errors['minlength']){
                <span>your password is too short</span>
            }
            @if(passwordId.errors['maxlength']){
                <span>your password is too long</span>
            }
            @if(passwordId.errors['required']){
                <span>you have to enter the password</span>
            }
        }
        <br><br>

        <label>photo profile:</label>
        <input type="file" (change)="onFileSelected($event, 'photo')" accept="image/*">
        <br><br>
        
        <button (click)="signUp()" [disabled]="SignUpForm.invalid">Sign Up</button>
    </form>

</div>
