@if(this.message!=""){
    <h3>{{message}}</h3>
}
<div>
    <h1>add post</h1>
<form #AddForm="ngForm" enctype="multipart/form-data">

    <label>song name:</label>
    <input type="text" [(ngModel)]="newPost.name" name="name" minlength="2" maxlength="50" required #nameId="ngModel">
    @if(nameId.errors){
        @if(nameId.errors['minlength']){
            <span>your song name is too short</span>
        }
        @if(nameId.errors['maxlength']){
            <span>your song name is too long</span>
        }
        @if(nameId.errors['required']){
            <span>you have to enter the song name</span>
        }
    }
        <br><br>

        <label>description:</label>
        <input type="text" [(ngModel)]="newPost.description" name="description" required="false">
        <br><br>

        <label>lyrics:</label>
        <input type="text" [(ngModel)]="newPost.lyrics" name="lyrics" required="false">
        <br><br>

         <label>photo:</label>
        <input type="file" (change)="onFileSelected($event, 'photo')" accept="image/*" name="photo">
        <br><br>

        <label>audio:</label>
        <input type="file" (change)="onFileSelected($event, 'audio')" accept="audio/*" name="audio">
        <br><br>
   
        <label>category:</label>
        <select [(ngModel)]="newPost.category" name="categorySelect">
            @for(c of categoriesList; track c.id){
                <option [ngValue]="c">{{c.name}}</option>
            }
        </select>
        <br><br>

        <label>people took part:</label>
        <input type="text" [(ngModel)]="newPost.usersTookPart" required="false" name="usersTookPart">

    </form>
     <button (click)="addPost()">Add Post</button>

</div>
